@import "./mixins.scss";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

// Fuente
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
$fuente: 'Pixelify Sans', sans-serif;

main {
    background-color: grey;
    display: grid;
    width: 100vw;
    height: 100vh;
    @include height-width(100vh, 100vw);
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
    grid-template-areas:
    "titulo"
    "calcul";
    justify-items: center;
    align-items: center;

    header {
        display: flex;
        grid-area: titulo;
        h1 {
            font-family: $fuente;
        }
    }

    #calculadora {
        display: grid;
        grid-area: calcul;
        @include height-width(80%, 40%);
        background-color: #2C2B2B;
        border-radius: 15px;

        grid-template-columns: 8% 84% 8%;
        grid-template-rows: 5% 20% 10% 60% 5%;
        grid-template-areas:
        "n1  n2      n3"
        "n4  lcd     n5"
        "n6  n7      n8"
        "n9  teclado n10"
        "n11 n12     n13";

        #pantalla-lcd {
            grid-area: lcd;
            @include height-width(100%, 100%);
            background-color: green;
        }

        #seccion_botones {
            display: grid;
            grid-area: teclado;
            @include height-width(auto, auto);
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(6, 1fr);
            grid-template-areas: 
            "n n2 n3 n4"
            "AC C m_m mod"
            "7 8 9 div"
            "4 5 6 x"
            "1 2 3 -"
            "0 coma igual mas";
            gap: 3%;

            @include propiedades-botones();

            .btn {
                @include efectoBoton();
            }
        }   
    }
}