@import "./variables/_variables";
@import "./mixins/_mixins";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: $font;
    background-color: $bg-color;

    @include height-width(auto, 100%);

    header {
        @include height-width(16vh, 100%);
        background-color: $primary-color;

        display: grid;
        grid-template-columns: 75% 25%;
        grid-template-rows: 100%;
        grid-template-areas: "logo menu";

        justify-items: center;
        align-items: center;

        #dropdownMenu {
            display: none;

            &:checked + h1 + label + #menu {
                top: 0%;
                transition: top 0.2s ease;
            }
        }

        h1 {
            grid-area: logo;
            color: $secondary-color;
            display: inline-block;
            p {
                display: inline-block;
                font-size: 0.5em;
            }
        }

        i {
            grid-area: menu;
        }

        #menu {
            // @include height-width(100vh, 100vw);
            // z-index: 10;
            // top: -100%;
            // background-color: $primary-color;
            
        }

        
    }

    main {
        @include height-width(auto, 100%);

        display: flex;
        flex-direction: column;
        align-items: center;

        .card {
            @include card();
        }
    }

    footer {
        @include height-width(20vh, 100%);
        margin-top: 10px;
        background-color: $secondary-color;
        color: #FFFFFF;
        font-weight: 300;
        font-size: 0.8em;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}