@mixin height-width($h: auto, $w: auto) {
    height: $h;
    width: $w;
}

@mixin card() {
    @include height-width(auto, 95%);
    background-color: #FFFFFF;
    margin-top: 10px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    row-gap: 10px;
    padding: 7px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .card-img {
        @include height-width(200px, auto );
        background-color: lightgray;
        border-radius: 7px;
    }

    .card-description {

        flex-grow: 1; // the text can grow
    }
}