// Colors
$primary-color: #F5CD14;
$secondary-color: #006738;
$bg-color: #EBEBEB;
$cards-color: #FFFFFF;

// Font family
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
$font: 'Roboto', sans-serif;